body {
    background-color: white;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 36px;
    margin-top: 10px;
}

h2 {
    margin: 0 0 5px;
    font-size: 24px;
}

select {
    display: block;
    width: 100%;
    border-radius: 10px;
    border-color: white;
    padding: 10px;
    font-size: 18px;
}

.container {
    max-width: 330px;
    height: 600px;
    margin: 50px auto;
    background: rgb(234, 229, 232);
    padding: 40px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid #ffffff42;
}

.city {
    display: flex;
    margin: 20px 0px 20px 0px;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
    border: none;
}

.date {
    opacity: 0.7;
    line-height: 30px;
    font-size: 17px;
}

.time {
    font-size: 30px;
    font-weight: bold;
    color: #c476db;
    display: inline-flex;
    align-items: center;
}

.time small {
    font-size: 24px;
    vertical-align: middle;
    opacity: 80%;
    margin-left: 10px;
}

footer {
    text-align: center;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
}